streamlit
python-dotenv
langchain==0.1.16
langchain-community==0.0.34
langchain-core==0.1.45
langchain-google-genai==1.0.3
langchain-huggingface==0.0.1
faiss-cpu
sentence-transformers
pypdf
docx2txt
matplotlib
numpy
