streamlit
python-dotenv
datasets
google-generativeai
sentence-transformers
chromadb

# --- Çatışmayı Çözmek İçin ---
# Temel bağımlılıkları açıkça listeliyoruz
pydantic
langchain-core

# Ana Langchain paketleri
langchain
langchain-community
langchain-huggingface
langchain-google-genai
langchain-openai

# requirements.txt dosyanıza bunları ekleyin:
pypdf         # PDF dosyalarını okumak için
docx2txt      # .docx (Word) dosyalarını okumak için

matplotlib
